<footer class="footer">
  <div class="footer__wrap">
    <div class="clearfix">
        <a class="pageheader__logo" href="http://fedojo.com">
          <span class="pageheader__logo__main">fedojo</span>
          <span class="pageheader__logo__slogan">{a front-end development blog by Piotr Sikora}</span>
        </a>
    </div>
    <div class="clearfix">
      <div class="footer__left">
        <p>© 2016 Copyright fedojo.com. All rights reserved</p>
      </div>
      <div class="footer__right">
        <p>Website designed by <a href="https://www.behance.net/aradek" class="simple_link">Arkadiusz Radek</a>
        </p>
      </div>
    </div>
  </div>
</footer>
