<header class="pageheader">
  <div class="pageheader__keeper">
    <a class="pageheader__logo" href="/">
      <span class="pageheader__logo__main">fedojo</span>
      <span class="pageheader__logo__slogan">{a front-end development blog by Piotr Sikora}</span>
    </a>
  </div>
</header>
